.race-map__box{
  margin-top: 20px;
  width: 1000px;
  border: 1px solid #000;
  border-right: 2px solid rgb(255, 4, 4);
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;  
}

.race-map__box p{
  width: fit-content;
  padding-right: 3px;
  display: inline-block;
  position: relative;
  z-index: -1;
}


/* ===========Uniq background for each horse======== */

.princess {
  background: rgb(70, 210, 154);
}
.cricket{
  background: rgb(54, 123, 162);
}
.rebel{
  background: rgb(150, 72, 170);
}
.lucy{
  background: rgb(210, 70, 98);
}
.lacey{
  background: rgb(179, 229, 103);
}
.ginger{
  background: rgb(89, 210, 70);
}

/* ================================================= */